
        a{
            text-decoration: none;
        }
        html,body {
            width: 100%;
            height: 100%;
            font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
        }
        body{/*上方預留導覽列的寬度*/
            display: flex;
            flex-direction: column;
            position: relative;
            padding-top: 60px;/*預留空間*/
            background-color: #F8FBFF;
        }

        /* ↓↓↓↓↓↓header */
        header {
            position: relative;
            width: 100%;
            height: 60px;
            background: linear-gradient(to top,#B5d7ff,#8caef7);
            box-shadow: rgba(180, 180, 180, 0.598) 0px 3px 6px;
            position: fixed; 
            top: 0;
            z-index: 45;
        }  


        /*回頂端top箭頭*/
        .top svg{ 
            width: 30px;
            height:30px;
            fill:#ffffff;
            position: fixed;
            z-index: 100;
            right: 10px;
            bottom: 50px;
            transition: .3s;
            visibility: hidden;
            border-radius: 50%;
            padding: 5px;
            background-color: #84848496;
        }
        /*回頂端top箭頭-滾動顯示事件*/
        .top.visible svg{  
            visibility: visible;
        }
        /*回頂端top箭頭-動畫*/
        .top svg:hover{  
            background-color: #6d9ff4;
        }

        /*目錄&內容*/
        .content{
            display: flex;
            width: 70%;
            margin: 20px auto;
            max-width: 1080px;
            flex-grow: 1;
        }

        /*目錄*/
        .menu{
            width: 30%;
            z-index: 50;
        }
        /*目錄-所有內容*/
        .main-menu{
            background-color: #fff;
            width: 100%;
            position: sticky;
            top:80px;
            box-shadow:0 0 10px 0px rgb(244, 244, 244);
            border-radius: 10px;
        }
        /*目錄-線條*/
        .main-menu hr{
            width: 100%;
            color: #9e9e9e;
            margin: 0px;
        }
        /*目錄-所有超連結*/
        .main-menu a{
            font-size:18px;
            display: block;
            color:  #6481E0;
            line-height: 70px;
            padding:0px 25px;
            font-weight: bold;
        }
        /*目錄-所有超連結-碰到的變化*/
        .main-menu a:hover{
            color: #a7c2ff;
        }
        /*目錄-當頁目錄換色*/
        .currentPage a{
            /* border-left: 5px solid #0088d2; */
            background: linear-gradient(to left, #80C3FF, #6D9FF4);
            color: #fff;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        /*目錄-當頁目錄-碰到時不做效果*/
        .currentPage a:hover{
            color: #fff;
        }

        /*內容-包裹容器*/
        .all{
            background-color: #fff;
            box-shadow:0 0 10px 0px rgb(244, 244, 244);
            border-radius: 10px;
            width:100%;
            margin-left: 20px;
            line-height: 1.5;
        }
        /*內容-主要內容*/
        .photoNameAndMainContent{
            width: 80%;
            margin: 40px auto;
        }
        /*內容-變更密碼-input框線換新樣式*/
        .changePassword  input{
            border-radius: 5px;
            outline: none;
            background-color: #eff2f4;
            border: 1px solid #f3f4fa;
            line-height:25px;
            padding: 10px 15px;
            color: rgb(130, 130, 130);
            font-size:14px;
            width:100%;
        }
        /*內容-變更密碼-h2*/
        .changePassword h2{
            font-size: 23px;
            padding: 8px 0px;
            margin: auto 0px;
            font-weight: bold;
            color:#278aff;
        }
        /*內容-變更密碼-所有label*/
        .changePassword label{
            font-size:16px;
            line-height: 35px;
            margin-top: 30px;
        }
        /*內容-變更密碼-按鈕清單*/
        .button-list{
            text-align:center;
            line-height: 40px;
            width:100%;
        }
        /*內容-變更密碼-按鈕*/
        .button{
            margin: 50px 5px 0px;
            font-size:16px;
            border-radius:5px;          
            padding: 10px;
            line-height: 15px;
            border: 1px solid;
            transition: transform .2s;
        }
        /*內容-變更密碼-按鈕-捨棄變更*/
        .button1{
            background-color: #fff;
            color:#828282;
        }
        /*內容-變更密碼-按鈕-儲存變更*/
        .button2{
            background-color:#6D9FF4;
            color:#fff;
        }
        /*內容-變更密碼-按鈕-捨棄變更-碰到的變化*/
        .button1:hover{
            transform: scale(0.95);
        }
        /*內容-變更密碼-按鈕-儲存變更-碰到的變化*/
        .button2:hover{
            transform: scale(0.95);
        }
        /*內容-變更密碼-必填*號*/
        .requiredSymbols{
            color:red;
        }
        /*內容-變更密碼-忘記密碼*/
        .forgetPassword{
            text-align:right;
            margin-top: 5px;
            width: 100%;
        }
        /*內容-變更密碼-忘記密碼的超連結*/
        .forgetPassword a{
            font-size: 14px;
            color: #273da7;
            text-decoration: underline;
        }
        /*視窗小於768*/
        @media screen and (max-width: 768px) {
            .content{
                width: 100%;
                margin: 0px auto;
            }
            /*內容-包裹容器*/
            .all{
                box-shadow:none;
                border-radius: 0px;
                margin-left: 0px;
            }
            html,body{
                overflow-x: hidden; 
            }
            body::-webkit-scrollbar {
                display: none;
            }
            .overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(106, 106, 106, 0.213);
                display: none;
                z-index: 10;
            }
            nav.sideBar{              
                z-index: 50;  /*目錄層級要比header、footer、內容高*/              
                top:0;
            }

        }

        @media screen and (min-width:768px){

    }

        /*視窗小於1200，大於768*/
        @media screen and (max-width: 1199px) {
            .menu 
            {
                display: none;
            }
        }


